<h1 style="text-align:center ; color: Green;">1. BOOK RECOMMENDER SYSTEM</h1>

### 1.1 Project Overview

In [1]:
2 + 5

7

### 1.2 Data

1. books table contains book_authors , book_name , images of books 
2. ratings table contains

### 1.3

## Importing Libraries

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

<h3 style="color: Green;">Gathering Data</h3>

In [3]:
books = pd.read_csv('Data/Books.csv')
ratings = pd.read_csv('Data/Ratings.csv')
users = pd.read_csv('Data/Users.csv')

c:\users\rakesh gupta\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

### Shape

In [7]:
books.shape  , ratings.shape , users.shape

((271360, 8), (1149780, 3), (278858, 3))

### Data types

In [8]:
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [9]:
ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [10]:
users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

Tasks
1.change year-of-publication dtype to int 
2.Age is float to int

### Missings values

In [11]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [12]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [13]:
users.isnull().sum()*100 / len(users)

User-ID      0.000000
Location     0.000000
Age         39.719857
dtype: float64

### Duplicated Values

In [14]:
books.duplicated().sum()

0

In [15]:
ratings.duplicated().sum()

0

In [16]:
users.duplicated().sum()

0

### EDA

In [17]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [18]:
books.groupby('Book-Author')['Book-Author'].count().sort_values(ascending = False).head()

Book-Author
Agatha Christie        632
William Shakespeare    567
Stephen King           524
Ann M. Martin          423
Carolyn Keene          373
Name: Book-Author, dtype: int64

In [19]:
# books[books['Book-Author']=='Agatha Christie'].head()

In [20]:
# a = books[books[['Book-Title' , 'Book-Author']].duplicated()].sort_values(ascending = 'False' , by =['Book-Title'])

In [21]:
# a[a[ 'Book-Author'] == 'Stephen King'].sort_values(by = 'Book-Title').head(6)

In [22]:
book_authors = books[['Book-Title' , 'Book-Author']].drop_duplicates()

In [23]:
book_authors.groupby('Book-Author')['Book-Title'].count().sort_values(ascending = False).head()

Book-Author
William Shakespeare    496
Agatha Christie        476
Ann M. Martin          395
Carolyn Keene          371
Francine Pascal        349
Name: Book-Title, dtype: int64

## Model Building

### Popularity Based Recommend system

In [24]:
ratings_with_name = ratings.merge(books , on ='ISBN')

In [67]:
ratings_with_name.head(4)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [25]:
num_ratings_df = ratings_with_name.groupby('Book-Title')['User-ID'].count().sort_values(ascending = False).reset_index()
num_ratings_df.rename(columns = {'User-ID' :'num_ratings'} , inplace = True)
num_ratings_df.head()

                   Book-Title  num_ratings
0                 Wild Animus         2502
1   The Lovely Bones: A Novel         1295
2           The Da Vinci Code          898
3             A Painted House          838
4  The Nanny Diaries: A Novel          828

In [26]:
avg_ratings_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().sort_values(ascending = False).reset_index()
avg_ratings_df.rename(columns = {'Book-Rating' :'avg_ratings'} , inplace = True)
avg_ratings_df.head()

                                          Book-Title  avg_ratings
0             Film Is: The International Free Cinema         10.0
1  More Secrets of Happy Children: Embrace Your P...         10.0
2            Jo's Boys : From the Original Publisher         10.0
3    The Vanished Priestess : An Annie Szabo Mystery         10.0
4                                   Game and Hunting         10.0

In [28]:
popular_df = num_ratings_df.merge(avg_ratings_df , on = 'Book-Title').sort_values(ascending = False  , by = 'avg_ratings')
popular_df = popular_df[popular_df['num_ratings']>=250].head(50)
popular_df

,Book-Title,num_ratings,avg_ratings
59,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
68,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
142,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
87,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
23,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
138,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
78,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
18,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
170,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
31,To Kill a Mockingbird,510,4.700000
2,The Da Vinci Code,898,4.642539
58,The Five People You Meet in Heaven,430,4.551163
51,The Catcher in the Rye,449,4.545657
1,The Lovely Bones: A Novel,1295,4.468726
135,1984,284,4.454225
184,Prodigal Summer: A Novel,253,4.450593
159,Neverwhere,265,4.449057
6,The Secret Life of Bees,774,4.447028
136,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
39,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
8,The Red Tent (Bestselling Backlist),723,4.334716
155,The Hitchhiker's Guide to the Galaxy,268,4.328358
94,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
185,Into the Wild,252,4.273810
61,Fahrenheit 451,409,4.264059
29,Girl with a Pearl Earring,526,4.218631
137,Outlander,283,4.173145
16,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
146,Seabiscuit: An American Legend,275,4.098182
10,Life of Pi,664,4.088855
67,The Bean Trees,389,4.087404
163,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
139,ANGELA'S ASHES,279,4.075269
40,Good in Bed,490,4.055102
100,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
117,American Gods,302,4.006623
99,Skipping Christmas,322,4.006211
102,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
92,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
104,The Color Purple,314,3.964968
180,Silence of the Lambs,256,3.960938
168,About a Boy,262,3.900763
140,Seven Up (A Stephanie Plum Novel),278,3.888489
158,The Alchemist: A Fable About Following Your Dream,266,3.875940
153,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
49,Suzanne's Diary for Nicholas,457,3.820569
173,Lord of the Flies,259,3.818533
60,A Prayer for Owen Meany,413,3.796610
118,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
83,White Oleander : A Novel (Oprah's Book Club),356,3.772472

#### Average Ratings on each books

In [ ]:
popular_df= popular_df.merge(books , on = 'Book-Title').drop_duplicates('Book-Title')[['Book-Title' , 'Book-Author' , 'Year-Of-Publication' , 'Image-URL-S' , 'num_ratings', 'avg_ratings']]
popular_df