In [54]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import warnings
warnings.simplefilter('ignore')

In [55]:
df = pd.read_csv('customer.csv')

In [56]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [57]:
df = df.iloc[: , 2 :]

In [58]:
df.shape

(50, 3)

In [59]:
X = df.drop('purchased' , axis = 1)
y = df['purchased']

In [60]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 )

In [61]:
X_train.head()

     review education
22     Poor        PG
44  Average        UG
32  Average        UG
40     Good    School
41     Good        PG

In [62]:
X_train['review'].unique()

array(['Poor', 'Average', 'Good'], dtype=object)

In [63]:
X_train['education'].unique()

array(['PG', 'UG', 'School'], dtype=object)

In [64]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[['Poor' , 'Average' , 'Good'] , ['School' , 'UG' , 'PG']]) 
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [65]:
X_train = oe.transform(X_train)

In [66]:
X_train[0:5]

array([[0., 2.],
       [1., 1.],
       [1., 1.],
       [2., 0.],
       [2., 2.]])

In [67]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [69]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
le.fit(y_test)

LabelEncoder()

In [70]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [71]:
y_test

array([1, 0, 1, 1, 0, 0, 1, 1, 1, 0])