# <font color = 'Brown'> Lambda Funtions </font>

Python Lambda function is known as the anonymous function that is defined without a name

**Example 1**

In [1]:
x = lambda a:a+10
x
print('output with lamda funtion:' , x(20))

#similar funtion

def sum(a):
    return a+10
print('output with normal sum funtion' , sum(20))

output with lamda funtion: 30
output with normal sum funtion 30

# <font color = 'Brown'> Filter Funtions </font>

In [2]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
    
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
  
# using filter function
filtered = filter(fun, sequence)
  
print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [3]:
n=int(input())
odd_even=lambda n:"Even number" if(n%2==0) else "Odd number"
print(odd_even(n))

90
Even number

**Use lambda function with filter()**

In [4]:
#find odd number 
lst = (10,22,37,41,100,123,29) 
oddlist = tuple(filter(lambda x :(x%2!=0) , lst))
oddlist

(37, 41, 123, 29)

In [5]:
lst = (10,20,30,40,50,60)  
square_list = list(map(lambda x:x**2,lst)) # the tuple contains all th

**Example 3**

In [6]:
tables = [lambda x=x: x*10 for x in range(1, 11)]
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

**Example 4**

In [7]:
Max = lambda a, b: a if (a>b) else b
Max(10,20)

20

In [8]:
number = [1,2,3,4,5,6,7,8]
s = list(map(lambda a:a**2 , lst))
print(s)

[100, 400, 900, 1600, 2500, 3600]

In [9]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
s = list(map(lambda x:str.upper(x) , animals))
s

['DOG', 'CAT', 'PARROT', 'RABBIT']

# <font color = 'Brown'>Reduce Funtions </font>

In [10]:
from functools import reduce
li = [5, 8, 10, 20, 50, 3]
sum = reduce((lambda x, y: x + y), li)
print (sum)

96

In [11]:
max = reduce((lambda x,y:x if x>y else y ) , li)
max

50